**/*.pt
**/*.pth
**/*.csv
**/*.safetensors

Lab5/data/
Lab5/outputs/
Lab5/lora_*

Lab4/data/
Lab4/samples/

Lab2/photos_jpeg/
Lab2/runs/
Lab2/numberdetection-*/
Lab2/YOLOv5-SVHN-*/
Lab2/*-[Ss][Vv][Hh][Nn]-*/
Lab2/synthetic_rus_numbers/
Lab2/cmp_facade/
Lab2/combined.yaml

Lab3/data/
Lab3/videos/
Lab3/photos/
Lab3/runs/
Lab3/outputs/

Task2/data/
Task2/test/
Task2/runs/
Task2/weights/
Task2/outputs/
